.message-container {
  height: 50%;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 340px;
  max-width: 570px;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 10px;
  font-size: 1.25rem;
}

.alert-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.alert-message {
  width: 45%;
}

.modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}