/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
  box-sizing: border-box;
  margin: 0;
  // border: 1px solid red;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  font-family: Lato;
}

body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}

.nav-container {
  width: 97%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: absolute;
}

.account-info {
  width: 40%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  color: #fff;
  padding: 7px;
}

.avatar {
  height: 50px;
  width: 50px;
}

picture,
picture > img {
  width: 100%;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translate(0, -50%);
}

.search-bar {
  height: 2.25em;
  width: 55%;
  max-width: 430px;
  border-radius: 5px;
  font-size: 1rem;
  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
}

.filter-section > * {
  margin: 10px 0px;
}

.filter-section,
.section-header {
  margin: 12px;
}

.filter-button {
  border-radius: 15px;
  padding: 5px 7px;
}

.date-field {
  height: 20px;
  width: 135px;
}

.date-filed > label {
  font-size: 12px;
}

.room-types {
  width: 100%;
  display: flex;
}

.radio-button {
  width: auto;
  margin: 5px;
}

.radio-label {
  font-size: 12px;
}

.section-header {
  margin: 10px 7px;
}

.room-container {
  height: auto;
  width: 97%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.room-card {
  height: 8em;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 12px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 14px;
}

.room-image {
  height: 85%;
  width: 45%;
  display: flex;
  margin-left: 5px;
}

.room-image > img {
  width: 100%;
  border: 1px solid black;
}

.room-details {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.room-details > p {
  width: 150px;
  margin-bottom: 3px;
  padding-left: 5px;
}

.room-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.icon-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: flex-end;
  border: none;
  background: none;
  margin: 7px;
}

.booking-icon {
  height: 100%;
  width: 100%;
  // position: fixed;
  // transform: translate(410%, -125%);
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  // .filter-section,
  // .section-header {
  //   margin: 7px 20px;
  // }

  .room-container {
    justify-content: space-between;
    margin-top: 10px;
  }

  .room-card {
    height: 8em;
    max-width: 48%;
    font-size: 1.63vh;
  }
}

@media only screen and (min-width: 1000px) {
  .filter-section,
  .section-header {
    margin: 7px 20px;
  }
}

@media only screen and (min-width: 1100px) {
  html {
    background-color: rgba(0, 0, 0, 0.2);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-width: 1350px;
    margin: 0 auto;
    background-color: white;
  }

  .nav-container {
    width: 1250px;
  }

  picture {
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
  }

  // picture > img {
  //   width: 75%;
  // }

  picture,
  .filter-section,
  .room-container {
    max-width: 1275px;
  }

  .filter-section {
    width: 97%;
  }
  .room-card {
    height: 7em;
    max-width: 400px;
    // font-size: 16px;
  }

  // .room-details > p {
  //   width: 250px;
  // }
}

@media only screen and (max-width: 300px) {
  .filter-button-container {
    display: flex;
    flex-direction: column;
  }

  .room-card {
    // font-size: 14px;
  }
}
